{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2>Checkout</h2>

    <div class="card shadow">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label>Full Name</label>

                    <input
                        type="text"
                        name="full_name"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Phone</label>

                    <input
                        type="text"
                        name="phone"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Address</label>

                    <textarea
                        name="address"
                        class="form-control"
                        rows="4"
                        required></textarea>

                </div>

                <h4>

                    Total:
                    ${{ cart.total_price }}

                </h4>

                <button
                    class="btn btn-success">

                    Place Order

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}